.wrap{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}
.box{
    box-sizing: border-box;
    width: 70%;
    max-width: 960px;
    margin: 37px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.box:nth-child(2n){
    flex-direction: row-reverse;
}

.grayblock{
    background-color: #eee;
    width: 439px;
    height: 290px;
    position: relative;
    top: 36px;
}
.grayblock_2n{
    width: 518px;
    height: 413px;
    top: 61px;
    left: 278px;
}

.pic{
    position: absolute;
    top: 125px;
    left: 185px;
}
.pic_2n{
    top: 136px;
    left: 7px;
}
.yticon{
    position: absolute;
    top: 211px;
    right: -15px;
    margin: auto;
    z-index: 2;
}
.yticon_2n{
    left: -7px;
}
.yticon img{
    width: 57px;
    height: 36px;
}
.header1{
    width: 355px;
    margin-bottom: 150px;
    z-index: 2;
}
.text{
    background-color: #f00;
}
h2{
    font-size: 50px;
    font-weight: 300;
    color: #fff;
}
.num{
    font-size: 118px;
    writing-mode: vertical-rl;
    position: relative;
    left: -15px;
}
.num:nth-child(2){
    left: 36px;
    font-size:108px;
}
.num_03{
    font-size:100px;
}

.title{
    line-height: 30px;
    position: relative;
    bottom: 30px;
    right: 20px;
}
.title_2n{
    right: -50px;
    bottom: 40px;
}
article{
    padding: 20px;
    background-color: #000;
    color: #fff;
}
h3{
    font-size: 25px;
    margin-bottom: 18px;
    font-weight: 400;
}
p{
    font-size: 20px;
    line-height: 2rem;
    font-weight: 300;
}
.section2{
    box-sizing: border-box;
    width: 682px;
    background-color: #eee;
    padding: 20px 25px;
    position: relative;
    left: 50px;
}
.section2_2n{
    left: 0;
}
h4{
    font-size: 18px;
    color: #c00000;
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
h4::after{
    content: '';
    height: 2px;
    width: 70%;
    background-color: #c00000;
    margin-left: 7px;
}
h5{
    background-color: #000;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 5px;
    border-radius:5%;
    margin-bottom: 10px;
}
ul{
    list-style-type:square;
}
li{
    color: #f00;
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 10px;
}
li:last-child{
    margin-bottom: 0;
}
li > span{
    color: #666;
}